@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons";

@plugin "daisyui" {
 themes: light --default, cmyk, valentine, emerald, dark, corporate, garden, aqua;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-base-200: oklch(93% 0.034 272.788);
    --color-error-content: oklch(98% 0.003 247.858);
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

::backdrop {
  background-color: black;
  opacity: 0.45;
}


.trix-button-group--file-tools { display: none !important; }

