@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons";

@plugin "daisyui" {
 themes: light --default, valentine, emerald, corporate, autumn, caramellatte, dark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-base-200: oklch(93% 0.034 272.788);
    --color-error-content: oklch(98% 0.003 247.858);
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

::backdrop {
  background-color: black;
  opacity: 0.45;
}

.trix-button-group { 
  @apply !join
}

.trix-button { 
  @apply !btn !join-item
}

.trix-content { 
  @apply textarea w-full
}

.trix-button-group--file-tools,
.trix-button--icon-code { 
  @apply !hidden 
}

:root:has(.theme-controller[value="dark"]:checked) {
  trix-toolbar .trix-button--icon::before {
    filter: invert(100%) !important;
  }
}
